body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #284e46; /* Binghamton University green */
  color: white;
  padding: 0rem;
  text-align: center;
}

.App-logo {
  height: 100px;
  width: auto; /* Let the width adjust automatically based on height */
  /* height: 100px;
  width: 350px; */
  margin-right: 20px;
}

@media (max-width: 768px) {
  .App-logo {
    height: 80px; /* Slightly smaller height */
    width: auto;
    /* width: 250px;  Adjusted width */
  }
}

@media (max-width: 480px) {
  .App-logo {
    height: 60px; /* Even smaller height */
    width: auto;
    /* width: 200px;  Smaller width */
  }
}

.App-navbar {
  opacity: 90%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.App-navbar a {
  position: relative; /* Allows positioning of pseudo-elements */
  text-decoration: none; /* Remove default overline */
}

.App-navbar a:hover {
  transform: translateY(-5px); /* Slightly lift the text on hover */
  transition: transform 0.2s; /* Smooth transition */
}

.App-navbar a:hover::before {
  content: ""; /* Creates an empty element for the overline */
  position: absolute;
  top: -8px; /* Adjust this value to set distance above the text */
  left: 0;
  right: 0;
  height: 2px; /* Thickness of the overline */
  background-color: rgb(251, 148, 110); /* Overline color */
}

header h1 {
  padding: 150px;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather", serif;
  font-size: 3rem;
  margin: 0;
  position: relative;
  background-image: url("../src/assets/background1.jpg");
  background-size: cover; /* Cover the entire header */
  background-position: center; /* Center the image */
  background-size: 100% 100%;
}

@media (max-width: 768px) {
  header h1 {
    padding: 100px; /* Less padding for medium screens */
    font-size: 2.5rem; /* Smaller font size */
    background-size: cover; /* Adjust the background size */
  }
}

@media (max-width: 480px) {
  header h1 {
    padding: 60px; /* Even less padding for small screens */
    font-size: 2rem; /* Even smaller font size */
    background-size: contain; /* Change background size strategy */
  }
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline;
  margin-right: 60px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 15px;
}

.talk-details {
  display: flex; /* Use flexbox for layout */
}

.talk-time {
  width: 100px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  text-align: left;
  color: #5e5b5b; /* Gray color for time text */
  margin-bottom: 10px;
}

.talk-abstract {
  flex: 1;
}

.talk p {
  margin: 0.5rem 0;
}

.talk-notes {
  font-style: italic;
  margin-top: 10px;
}

.talk-container {
  border-bottom: 1px solid #ccc; /* Adds a light grey border separator */
  padding: 20px 0; /* Adds space between the content and the border */
  background-color: #ffffff; /* White background for each talk */
  border-bottom: 1px solid #ddd; /* Light border */
  padding: 20px; /* Padding inside the container */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s ease-in-out; /* Animation for hover */
}

.talk-details h3 {
  color: #284e46; /* Binghamton University green for speaker names */
  margin-bottom: 10px;
}

.talk-details p {
  margin: 0.5rem 0; /* Standard margin for paragraphs */
}

.talk-details .normal-text {
  font-weight: normal;
}

.talk-abstract {
  color: #404040;
}

.talks-section h2 {
  font-family: "Merriweather", sans-serif; /* Set the desired font family */
  font-size: 45px; /* Set the font size */
  text-align: center; /* Center-align the text */
  margin-bottom: 15px; /* Add space below the heading */
  margin-top: 5px;
  color: #284e46;
}

.talks-wrapper {
  max-width: 1100px; /* Adjust this width as needed */
  margin: 0 auto; /* Center the div */
  padding: 20px; /* Add some padding to avoid content touching the edges */
}

#talks-schedule a {
  color: #284e46; /* Change this color as needed */
  text-decoration: none; /* Removes the underline */
  transition: color 0.3s ease; /* Adds a smooth transition when hovering */
}

main {
  padding: 2rem;
  margin: 1rem 0;
}

html {
  scroll-behavior: smooth;
}

section {
  margin-bottom: 2rem;
}

footer {
  background-color: #284e46;
  color: white;
  text-align: center;
  padding: 0.02rem;
  position: relative;
  bottom: 0;
  width: 100%;
}
